.title-bar{
  background-color: gold;
}
.choice-bar{
  background-color: firebrick;
  height: 100px;
}
.choice-bar button{
  background-color: gold;
}
#vote-button{
  background-color: dodgerblue;
}
.block-container{
  background-color: dodgerblue;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}
