.landing-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
  background: #EAEAEA;
  color: #222;
}
.login {
  text-shadow: 0px 1px 5px 0px #222;
  box-shadow: 0px 1px 5px 0px #111;
  padding: 10px;
  width: 200px;
  height: 200px;
}
.signup {
  text-shadow: 0px 1px 5px 0px #222;
  box-shadow: 0px 1px 5px 0px #111;
  padding: 10px;
  width: 200px;
  height: 200px;
}
.blurb {
  text-shadow: 0px 1px 5px 0px #222;
  box-shadow: 0px 1px 5px 0px #111;
  margin: 0 0 10px 10px;
  padding: 2px;
  width: 300px;
  height: 400px;
}
p {
  font-size: 18px;
  font-weight: 300;
  margin: 10px 5px;
}
.loginResult{
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: firebrick;
}
.login input{
  margin: 10px 5px;
  background-color: #FAFAFA;
}
.signup input{
  margin: 10px 5px;
  background-color: #FAFAFA;
}
.hidden {
  display: none;
}
